#varsityR {
	position: relative;
	top: -5px;
}

.navbar-brand {
	color: white !important;
}

#main-page-h1 {
	font: 6.1em "Sigmar One" !important;
}

#tagline {
	font-family: 'Cedarville Cursive', cursive;
}

#search_results {
	font-size: .75em
}

.well {
	padding-bottom: 50px;
	color: black;
}

.review {
	min-height: 245px;
	display: table;
}

.review-stats {
	min-width: 300px;
	display: table-cell;
}

.review-text {
	display: table-cell;
	padding-left: 25px;
}
/* TODO: the link colors for the reviews! */
.review-stats>*>a {
	color: rgb(117, 6, 6);
}

.review-stats>*>a:link {
	color: rgb(117, 6, 6);
}

.review-stats>*>a:visited {
	color: rgb(117, 6, 6);
}

.review-stats>*>a:hover {
	color: rgb(117, 6, 6);
}

.review-stats>*>a:active {
	color: rgb(117, 6, 6);
}

.progress-label {
	float: left;
	width: 90px;
	margin-right: 1em;
}

/* Ratings */
.rating-block {
	font-size: 100px;
	color: white;
	height: 185px;
	width: 195px;
	text-align: center;
	line-height: 170px;
	color: white;
}

.overall-rating {
	background-color: black;
}

.ease-rating {
	background-color: rgba(92, 168, 92, 0.77);
}
/* Professor */
.helpfulness-rating, .grasp-rating {
	background-color: rgba(87, 81, 249, 0.64);
}

.clarity-rating, .workload-rating {
	background-color: #f7b83a;
}