#varsityR {
	position: relative;
	top: -5px;
}

.navbar-brand {
	color: white !important;
}

#main-page-h1 {
	font: 6.1em "Sigmar One" !important;
}

#tagline {
	font-family: 'Cedarville Cursive', cursive;
}

#search_results {
	font-size: .75em
}

.well {
	padding-bottom: 50px;
	color: black;
	width: 100%;
}

.review {
	min-height: 245px;
	display: table;
}

.review-stats {
	width: 300px;
	display: table-cell;
}

.review-text {
	display: table-cell;
	padding-left: 25px;
}

.progress-label {
	float: left;
	width: 90px;
	margin-right: 1em;
}

.selectpicker {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Ratings */
.rating-block {
	font-size: 100px;
	color: white;
	text-align: center;
	line-height: 170px;
	color: white;
}

@media screen and (max-width : 768px) {
	/* xs Styles */
	.rating-block {
		height: 185px;
	}
}

@media screen and (min-width : 768px) and (max-width : 992px) {
	/* sm Styles */
	.rating-block {
		margin: 0px 10px;
		width: 160px;
		height: 160px;
		font-size: 90px;
		line-height: 155px;
	}
	.selectpicker {
		width: 160px !important;
	}
}

@media screen and (min-width : 992px) and (max-width : 1200px) {
	/* md Styles */
	.rating-block {
		margin: 0px 10px;
		width: 215px;
		height: 200px;
		font-size: 100px;
		line-height: 190px;
	}

	.select-label {
		position: relative;
		right: -38px;
	}
}

@media screen and (min-width : 1200px) {
	/* lg Styles */
	.rating-block {
		margin: 0px 10px;
		width: 265px;
		height: 245px;
		font-size: 120px;
		line-height: 235px;
	}
    .select-label {
        position: relative;
        right: -38px;
    }
}

.overall-rating {
	background-color: black;
}

.ease-rating {
	background-color: rgba(92, 168, 92, 0.77);
}
/* Professor */
.helpfulness-rating, .grasp-rating {
	background-color: rgba(87, 81, 249, 0.64);
}

.clarity-rating, .workload-rating {
	background-color: #f7b83a;
}

.glyphicon.smaller {
	font-size: 12px;
	position: relative !important;
	top: -4px !important;
}

.spinbox-buttons {
	top: 2px !important;
}

.tooltip-inner {
    white-space:pre-wrap;
}