<!-- Modal -->
<div class="modal fade" id="insert-tip" tabindex="-1" role="dialog"
	aria-labelledby="Add Review" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Add a Tip</h4>
			</div>
			<form action="/review" method="post" class="form-horizontal"
				role="form">
				<input name="entity_key" type="text" class="hidden">
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group select-label">
									<label for="prof-name" class="col-sm-4 control-label">Professor</label>
									<div class="col-sm-8">
										<select id="prof-name"  data-title="Choose one..." class="selectpicker"
											data-live-search="true" name="prof_name">
											{% for prof in professors %}
											<option value="{{prof.string_id()}}">{{prof.string_id()}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="helpfulness" class="col-sm-7 control-label">Helpfulness</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="helpfulness"
													class="form-control input-mini spinbox-input">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label for="clarity" class="col-sm-7 control-label">Clarity</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="clarity"
													class="form-control input-mini spinbox-input" value="3"
													placeholder="1-5">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="p-ease" class="col-sm-7 control-label">Ease</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="p_ease"
													class="form-control input-mini spinbox-input">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="hot-or-not" class="col-sm-7 control-label">Hot or not?</label>
									<div class="col-sm-5">
										<input type="checkbox" name="hot_or_not" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group select-label">
									<label for="class-name" class="col-sm-4 control-label">Class</label>
									<div class="col-sm-8">
										<select id="class-name" class="selectpicker"
                                            data-live-search="true" name="class_name" title="Class ID">
                                            {% for class in classes %}
                                            <option>{{class.string_id()}}</option>
                                            {% endfor %}
                                        </select>
									</div>
								</div>
								<div class="form-group">
									<label for="grasp" class="col-sm-7 control-label">Grasp</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="grasp"
													class="form-control input-mini spinbox-input" value="3"
													placeholder="1-5">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="workload" class="col-sm-7 control-label">Workload</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="workload"
													class="form-control input-mini spinbox-input" value="3"
													placeholder="1-5">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="c-ease" class="col-sm-7 control-label">Ease</label>
									<div class="col-sm-5">
										<div class="fuelux">
											<div class="spinbox" data-initialize="spinbox"
												class="ratingSpinbox">
												<input type="text" name="c_ease"
													class="form-control input-mini spinbox-input" value="3"
													placeholder="1-5">
												<div class="spinbox-buttons btn-group btn-group-vertical">
													<button type="button"
														class="btn btn-default spinbox-up btn-xs">
														<span class="glyphicon glyphicon-chevron-up smaller"></span><span
															class="sr-only">Increase</span>
													</button>
													<button type="button"
														class="btn btn-default spinbox-down btn-xs">
														<span class="glyphicon glyphicon-chevron-down smaller"></span><span
															class="sr-only">Decrease</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label for="comments" class="control-label">Comments</label>
								<textarea name="comments" class="form-control" rows="3"
									id="comments" placeholder="Add additional comments here..."></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Add Tip</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
