<!-- Modal -->
<div class="modal fade" id="insert-tip" tabindex="-1" role="dialog"
	aria-labelledby="Add Review" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Add a Tip</h4>
			</div>
			<form action="/review" method="post" class="form-horizontal"
				role="form">
				<input name="entity_key" type="text" class="hidden">
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="prof-name" class="col-sm-4 control-label">Professor ID</label>
									<div class="col-sm-8">
										<input type="text" name="prof_name" class="form-control"
											id="prof-name" placeholder="Professor Name">
									</div>
								</div>
								<div class="form-group">
									<label for="helpfulness" class="col-sm-7 control-label">Helpfulness</label>
									<div class="col-sm-5">
										<input type="text" name="helpfulness" class="form-control bfh-number"
											id="helpfulness">
									</div>
								</div>
								<div class="form-group">
									<label for="clarity" class="col-sm-7 control-label">Clarity</label>
									<div class="col-sm-5">
										<input type="text" name="clarity" class="form-control"
											id="clarity" placeholder="1-5">
									</div>
								</div>
								<div class="form-group">
									<label for="p-ease" class="col-sm-7 control-label">Ease</label>
									<div class="col-sm-5">
										<input type="text" name="p_ease" class="form-control"
											id="p-ease" placeholder="1-5">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="class-name" class="col-sm-4 control-label">Class ID</label>
									<div class="col-sm-8">
										<input type="text" name="class_name" class="form-control"
											id="class-name" placeholder="Class Name">
									</div>
								</div>
								<div class="form-group">
									<label for="grasp" class="col-sm-7 control-label">Grasp</label>
									<div class="col-sm-5">
										<input type="text" name="grasp" class="form-control"
											id="grasp" placeholder="1-5">
									</div>
								</div>
								<div class="form-group">
									<label for="workload" class="col-sm-7 control-label">Workload</label>
									<div class="col-sm-5">
										<input type="text" name="workload" class="form-control"
											id="workload" placeholder="1-5">
									</div>
								</div>
								<div class="form-group">
									<label for="c-ease" class="col-sm-7 control-label">Ease</label>
									<div class="col-sm-5">
										<input type="text" name="c_ease" class="form-control"
											id="c-ease" placeholder="1-5">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label for="comments" class="control-label">Comments</label>
								<textarea name="comments" class="form-control" rows="3"
									id="comments"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add Tip</button>
				</div>
			</form>
		</div>
	</div>
</div>