{% extends "templates/templateBase.html" %} {% block content %}
<div class="container" style="margin-top: 75px">
    <h1>Web Dev w/ Google App Engine</h1>
    <p class="text-left">Course Description: Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.</p>
    <br>
    <div class="row" style="margin: 0px auto;">
        <div data-toggle="tooltip" data-placement="bottom"
            title="Overall Rating"
            class="col-sm-2 thumbnail rating-block overall-rating">4</div>
        <div class="col-sm-1"></div>
        <div data-toggle="tooltip" data-placement="bottom"
            title="Helpfulness Rating"
            class="col-sm-2 thumbnail rating-block helpfulness-rating">4</div>
        <div class="col-sm-1"></div>
        <div data-toggle="tooltip" data-placement="bottom"
            title="Clarity Rating"
            class="col-sm-2 thumbnail rating-block clarity-rating">4</div>
        <div class="col-sm-1"></div>
        <div data-toggle="tooltip" data-placement="bottom" title="Ease Rating"
            class="col-sm-2 thumbnail rating-block ease-rating">4</div>
    </div>
    <br>
    <div class="well review">
        <div class="review-stats">
			<p>
				<a href="#">Dave Fisher</a>
			</p>
			<h5 style="margin-bottom: 18px;">
				<a href="#">Web Dev w/ Google App Engine</a>
			</h5>
			<div>
                <span class="progress-label">Helpfulness</span>
                <div data-toggle="tooltip" data-placement="right" title="1"
                    class="progress">
                    <span class="progress-bar progress-bar-info" role="progressbar"
                        aria-valuenow="1" aria-valuemin="0" aria-valuemax="5"
                        style="width: 20%;"></span>
                </div>
            </div>
            <div>
                <span class="progress-label">Clarity</span>
                <div class="progress" data-toggle="tooltip" data-placement="right"
                    title="3">
                    <span class="progress-bar progress-bar-warning" role="progressbar"
                        aria-valuenow="3" aria-valuemin="0" aria-valuemax="5"
                        style="width: 60%;"></span>
                </div>
            </div>
            <div>
                <span class="progress-label">Ease</span>
                <div class="progress" data-toggle="tooltip" data-placement="right"
                    title="4">
                    <span class="progress-bar progress-bar-success" role="progressbar"
                        aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"
                        style="width: 80%;"></span>
                </div>
            </div>
        </div>
        <div class="review-text">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
</div>
{% endblock %}
