{% extends "templates/templateBase.html" %} {% block content %}
<div class="container" style="margin-top: 75px">
	<h1>{{professor.name}}</h1>
	<br>
	<div class="row" style="margin: 0px auto;">
		<div data-toggle="tooltip" data-placement="bottom"
			title="Overall Rating"
			class="col-sm-2 thumbnail rating-block overall-rating">{{overall_rating}}</div>
		<div class="col-sm-1"></div>
		<div data-toggle="tooltip" data-placement="bottom"
			title="Helpfulness Rating"
			class="col-sm-2 thumbnail rating-block helpfulness-rating">{{helpfulness_rating}}</div>
		<div class="col-sm-1"></div>
		<div data-toggle="tooltip" data-placement="bottom"
			title="Clarity Rating"
			class="col-sm-2 thumbnail rating-block clarity-rating">{{clarity_rating}}</div>
		<div class="col-sm-1"></div>
		<div data-toggle="tooltip" data-placement="bottom" title="Ease Rating"
			class="col-sm-2 thumbnail rating-block ease-rating">{{ease_rating}}</div>
	</div>
	<br>
	{% for review in reviews %}
	<div class="well review">
		<div class="review-stats">
			<p>
                <a href="/professor?id={{review.instructor.string_id()}}">{{review.instructor.get().name}}</a>
            </p>
            <h5 style="margin-bottom: 18px;">
                <a href="/course?id={{review.course.string_id()}}">{{review.course.string_id()}}</a>
            </h5>
			<div>
                <span class="progress-label">Grasp</span>
                <div data-toggle="tooltip" data-placement="right" title="{{review.helpfulness}}"
                    class="progress">
                    <span class="progress-bar progress-bar-info" role="progressbar"
                        aria-valuenow="{{review.helpfulness}}" aria-valuemin="0" aria-valuemax="5"
                        style="width: {{review.helpfulness*20}}%;"></span>
                </div>
            </div>
            <div>
                <span class="progress-label">Workload</span>
                <div class="progress" data-toggle="tooltip" data-placement="right"
                    title="{{review.clarity}}">
                    <span class="progress-bar progress-bar-warning" role="progressbar"
                        aria-valuenow="{{review.clarity}}" aria-valuemin="0" aria-valuemax="5"
                        style="width: {{review.clarity*20}}%;"></span>
                </div>
            </div>
            <div>
                <span class="progress-label">Ease</span>
                <div class="progress" data-toggle="tooltip" data-placement="right"
                    title="{{review.instr_ease}}">
                    <span class="progress-bar progress-bar-success" role="progressbar"
                        aria-valuenow="{{review.instr_ease}}" aria-valuemin="0" aria-valuemax="5"
                        style="width: {{review.instr_ease*20}}%;"></span>
                </div>
            </div>
		</div>
		<div class="review-text">{{review.comments}}</div>
	</div>
	{% else %}
    <p class="lead">No reviews yet.</p>
    {% endfor %}
</div>
{% endblock %}
